/*
    Christina Martinez Gomez
    Septiembre 2024
*/
html{
    box-sizing: border-box;
    font-size: 62,5%;
}
*{
    margin: 0px;
    box-sizing: border-box;
} 

body{
    background-color: lightgreen;
}

body{
    background-color: rgb(170, 127, 70);
    border: solid 0,5rem brown;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2,5rem;
}

h1{
    background-color: aqua;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1,5rem;
    text-align: justify;
}

h2{
    background-color: brown;
    color: black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1,5rem;
    text-align: justify;
}

h3{
    background-color: blueviolet;
    color: darkgoldenrod;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1,5rem;
    text-align: justify;
}

h4{
    background-color: forestgreen;
    color: maroon;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1,5rem;
    text-align: justify;
}