/*
    Christian Martinez Gomez
    Septiembre 2024
*/
html{
    box-sizing: border-box;
    font-size: 62,5%;
}
*{
    margin: 0px;
    box-sizing: border-box;
}

a{
    padding: 2,5rem;
    margin: 1rem;
    display: block;
    font-size: 2,2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    background-color: aqua;
    width: 15rem;
    border-radius: 2,5rem;
    border: black;
    border-style: ridge;
    color: aliceblue;
}

.cajaRoja{background-color: brown;}
.cajaAzul{background-color: darkcyan;}
.cajaNegra{background-color: black;}
.cajaVerde{background-color: chartreuse;}
.cajaAmarilla{background-color: gold;}
.cajaCyan{background-color: cyan;}
.cajaMarron{background-color: saddlebrown;}
.cajaRosa{background-color: pink;}